<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Fortunes{% endblock %}</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" />
        <style>
            body {
                padding-top: 70px;
            }
        </style>
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}
            <div class="container">
                {% block nav %}
                    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="{{ url('fortune_list')}}">Fortunes</a>
                        <ul class="nav navbar-nav">
                            {% set route = app.request.attributes.get('_route') %}
                            <li {% if 'fortune_list' == route %}class="active"{% endif %}><a href="{{ url('fortune_list')}}">Last</a></li>
                            <li {% if 'fortune_new' == route %}class="active"{% endif %}><a href="{{ url('fortune_new')}}">Add a new one</a></li>
                            <li {% if 'fortune_list_top' == route %}class="active"{% endif %}><a href="{{ url('fortune_list_top')}}">Top</a></li>
                            <li {% if 'fortune_list_flop' == route %}class="active"{% endif %}><a href="{{ url('fortune_list_flop')}}">Flop</a></li>
                        </ul>
                        <form method="get" action="{{ url('fortune_list_top') }}" class="navbar-form navbar-left" role="search">
                            <div class="form-group">
                                <input type="text" name="q" class="form-control" placeholder="Search"{% if app.request.query.has('q') %} value="{{ app.request.query.get('q') }}"{% endif %}>
                            </div>
                            <button type="submit" class="btn btn-default">Submit</button>
                        </form>
                    </nav>
                {% endblock %}
                {% block flash %}
                    {% for level in ['success', 'info', 'alert', 'danger'] %}
                        {% for message in app.session.flashBag.get(level) %}
                            <div class="alert alert-{{ level }}">
                                <button type="button" class="close" data-dismiss="alert">&times;</button>
                                {{ message }}
                            </div>
                        {% endfor %}
                    {% endfor %}
                {% endblock %}
                {% block content ''%}
            </div>
        {% endblock %}
        {% block javascripts %}
            <script src="//code.jquery.com/jquery-2.1.1.min.js"></script>
            <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
            <script src="{{ asset('js/storage.js') }}"></script>
            <script src="{{ asset('js/votes.js') }}"></script>
        {% endblock %}
    </body>
</html>
